@model MusicAlbumStore.ViewModels.ArtistsViewModel

@{
    ViewData["Title"] = "Artists";
}
<style>
    body {
        background-color: ghostwhite
    }
</style>
<h1>Artists</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-controller="Artists" asp-action="Index" method="get">
    <p>
        Artist Name: <input type="text" asp-for="ArtistNameSearch" />
        Formation Year: <input type="text" asp-for="FormationYearSearch"/>
        <input type="submit" value="Filter" />
    </p>
</form>

@{
    var artists = Model.Artists;
    var numArtists = artists.Count();
    var numColumns = 2;
    var numRows = (int)Math.Ceiling((double)numArtists / numColumns);
}
<div class="container">
@for (int i = 0; i < numRows; i++)
{
    <div class="row">
        @for (int j = 0; j < numColumns; j++)
        {
            var index = i * numColumns + j;
            if (index >= numArtists) { break; }
            var item = artists.ElementAt(index);
            <div class="col-md-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="@Url.Content(item.ArtistImage)" class="card-img" alt="Cover Image" style="height: 350px;">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h2 class="card-title">
                                    @Html.DisplayFor(model => item.ArtistName)
                                </h2>
                                <h5 class="card-title">
                                    <span>@Html.DisplayNameFor(model => item.YearsActive)</span>
                                </h5>
                                <p class="card-text">
                                    <span>@Html.DisplayFor(model => item.YearsActive)</span>
                                </p>
                                <h5 class="card-title">
                                    <span>@Html.DisplayNameFor(model => item.Label)</span>
                                </h5>
                                <p class="card-text">
                                    <span>@Html.DisplayFor(model => item.Label)</span>
                                </p>
                                <h5 class="card-title">
                                    <span>@Html.DisplayNameFor(model => item.Website)</span>
                                </h5>
                                <p class="card-text">
                                    <a href="@Url.Content(@item.Website)">
                                        @Html.DisplayFor(model => item.Website)
                                    </a>
                                </p>
                                <p class="card-text">

                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        }
                                        |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
</div>